
<div class="wrapper">

    <p><a href="/profiles/new">Create a profile</a></p>

    <div class="home_form">

        <h1>geek_Match <span class="hearts">&hearts;</span></h1>
        <h4>I'm looking for...</h4>

      <form action="/results" method="get">
        <div>
            <label for="gender">Gender:</label>
            <select name="gender">
                <option value="Female">Female</option>
                <option value="Male">Male</option>
            </select>
        </div>
        <div>
            <label for="age">Age:</label>
            <select name="age">
                <option value="20-25">20 - 25</option>
                <option value="25-30">25 - 30</option>
                <option value="30-35">30 - 35</option>
                <option value="35-40">35 - 40</option>
                <option value="40-45">40 - 45</option>
                <option value="40+">40+</option>
            </select>
            <label for="state">State:</label>
            <select name="state">
                <option value="NSW">NSW</option>
                <option value="NT">NT</option>
                <option value="QLD">QLD</option>
                <option value="SA">SA</option>
                <option value="VIC" selected>VIC</option>
                <option value="WA">WA</option>
            </select>
        </div>
        <div>
            <button>get...</button>
        </div>
      </form>

    </div>

</div>
