<form action="/session" method="post">

  <div>
    <label for="">email</label>
    <input type="text" name="email">
  </div>
  <div>
      <label for="">password</label>
      <input type="password" name="password">
  </div>

  <button>login</button>

</form>