html { height:100%; }

.wrapper {
   max-width:450px;
   margin:0 auto;
}


/* *********** General Type ********** */



body {
   font-size: 62.5%;
   font-family: Helevtica, Arial;
   background: url('http://ramflisa.url.ph/Bilder/binary.jpg');
   background: url('/images/bluecity.jpg') repeat-x center bottom #0299E0;
   background-size: contain;
}

p, li, input, label, option { font-size:1.3em; }


h1 {
   font-family: monospace;
   font-size: 6em;
   margin-bottom: .5em;
   color:#082b47;
   text-align: center;
}

h2 {
   font-family: 'PT Sans Caption', sans-serif;
   font-size: 2.5em;
   margin-bottom: .5em;
   color:#fff;
   text-align: center;
}

h4 { font-size:1.5em; }

.home_form h4 { text-align: center; }



/* *********** Forms General ********** */

form {
    font-family: Arial, Helvetica;
}

input:focus {
   background:#ddd;
   color:#222;
}

button:hover {
   cursor: pointer;
}

select {
   font-size:1.5em!important;
   color:#999!important;
   text-indent: .3em;
}


/* *********** Home Search ********** */

h1 a { color:#082b47; }
h1 a:hover { text-decoration: none; }

.hearts {
   color: red;
   font-size:1.4em;
}

.form_search {
   
}

.home_form {
/*   position:absolute;
   top: 30%;
   left: 50%;
   transform: translate(-50%, -50%);*/
/*   width:400px;
   text-align: center;*/
}

.home_form div {
  text-align: center;
}

.home_form select {
   margin-bottom: .8em;
   background: #eee;
   font-size: 1.8em;
}

.home_form label {
   display: block;
   padding-bottom: .3em;
   font-size: 1.2em;
   font-family: Arial, sans-serif;
   text-transform: uppercase;
}

.home_form button {
   padding:.5em .2em;
   background: red;
   color: #fff;
   border: none;
   width:120px;
   border-radius: 5px;
   margin-top: 1em;
}


 /* *********** Login Form ********** */

 .login_wrap {
   position: absolute;
   right:15px;
   top:1em;
 }

 .login_wrap  .glyphicon {
   font-size:1.1em;
 }


.form_login {
  position:absolute;
  width:300px;
  left: 50%;
  margin-left: -150px;  /* this value should be half the width of the container */
  top:-100%;
  background-color: #e9e9e9;
  background:#124b78;
  box-shadow: 0 3px 10px rgba(0,0,0,.5);
  padding: 3em 1em 1em 1em;
  border-radius: 0 0 10px 10px
}

.form_login h2 {
   font-size:1.9em;
   color: #fff;
   opacity:.8;
   margin:0 0 .3em 0;
}  

.form_login .form_row {
   margin:0 0 1em 0;
}

.form_login input {
   padding:.2em .4em;
}   

.form_login .form_row:first-child {
   margin-top:3em;
}

.form_login label {
  display: block;
  display: none; /*replaced with placeholder*/
  color:#666;
  font-size:1.1em;
  margin-bottom: .2em; 
}

.close {
   position: absolute;
   top:1em;
   right:1em;
   font-size: 1.4em;
   margin-bottom: 4em;
   color:#fff;
   opacity:.6;
}

.close:hover {
   cursor: pointer;
}

 /* *********** Signup Form ********** */ 

.form_signup {
   /*width:100%;*/
   background:rgb(3, 36, 61);
   padding:1em;
   border-radius: 0 0 5px 5px;
}

.form_signup label {
   display: block;
   display: none;
}


.form_signup input,
.form_signup textarea {
/*   border:1px solid #ccc;
   background: #f9f9f9;
   padding:.3em;
   min-width: 15em;*/
}

.form_signup textarea {
   min-width: 25em;
   min-height: 6em;
}

.form_signup select {
   font-size:1.8em;
}

.form_signup .form_row {
   margin:0 0 1em 0;
}

 /* *********** Search Results ********** */

 .profile_wrap {
   /*background:#e9e9e9;*/
   background:rgb(3, 36, 61);
   padding:1em;
   overflow: hidden;
   margin:0 1em 0 1em;
   border-radius: 0 0 5px 5px;
 }

 .profile {
   background:#fff;
   border: 1px solid #ccc;
   float: left;
   width:31.48%;
   margin: 0 1em 1em 0;
   padding-bottom:.8em;
   border-radius: 0 0 5px 5px;
 }

.profile:hover {
   background: #eee
}

.profile:nth-child(3) {
   margin-right: 0;
}

 .user_img {
   max-height: 127px;
   overflow: hidden;
} 

.profile img {
   max-width:100%;
}

 .user_name {
   font-family:monospace;
   text-align: center;
   font-size: 1.8em;
   margin:.2em 0 .2em 0;
 }

.user_age {
   text-align: center;
}


 /* *********** Profile page ********** */

.profile_detail {
   background: #eee;
   min-height: 150px;
   padding:1em;
   overflow: hidden;
}

 .profile_detail h2 {
   font-size:2em;
 }

.profile_detail .age {
   font-size:2em;
 }

.profile_photo {
   float: left;
   margin: 0 1em 0 0em;
}

.profile_detail .profile_desc {
   margin-top:1em;
}

.profile_detail .btn-success {
   margin-top:.5em;
}


/* Bootstrap Overides */

.btn-danger {
   background-color:red!important;
}

